.btn {
    height: 150px;
    width: 150px;
    font-size: 30px;
    background-color: lightblue;
    margin-right: 20px;
}

.center {
    display: flex;
   
}

button {
    flex: auto;
}

.results, .finalResults{
    font-size: 35px;
    text-align: center;
}